.logo {
  clear: both;
}

.logo-faixa {
    background-image: url(../images/bg-headtop.gif);
    margin-bottom: 5px;
    text-align: right;
    color: white;
    padding-top: 12px;
    font-size: 10px;
}


.logo-texto {
    font-size: 1.2rem;
}


.logo-texto-cea {
    font-size: 1.5rem;
}

.logo-texto-ime {
    font-size: 1rem;
}
.logo-texto-usp {
    font-size: 1rem;
}

.logo-usp {
    background: url(usp-logo.png) no-repeat;
    width: 130px;
    height: 50px;
    margin: 5px;
    padding: 10px;
    float: left;
    text-indent: -9999px;
}


.logo-cea1 {
    background: url(cea.png) no-repeat;
    width: 130px;
    height: 50px;
    margin: 5px;
    padding: 10px;
    float: left;

}

.logo-cea {
  background: url(ultimo.png) no-repeat;
  width: 100px;
  height: 50px;
  margin: 0px;
  padding: 5px;
  text-indent: -9999px;
}

.texto-usuario {
  margin-right: 10px;
}

.rodape {
    background-color: #f8f8f8;
    margin-top: 30px;
    padding: 40px;
}

.form-submit-button {
	background: #008B8B;
	color: white;
	border-style: outset;
	border-color: #008B8B;
	height: 50px;
	width: 100px;
	font: bold15px arial,sans-serif;
	text-shadow: none;
}
<!-- HTML !-->
<button class="button-25" role="button">Button 25</button>

/* CSS */
.button-25 {
  background-color: #36A9AE;
  background-image: linear-gradient(#37ADB2, #329CA0);
  border: 1px solid #2A8387;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.12) 0 1px 1px;
  color: #FFFFFF;
  cursor: pointer;
  display: block;
  font-family: -apple-system,".SFNSDisplay-Regular","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 17px;
  line-height: 100%;
  margin: 0;
  outline: 0;
  padding: 11px 15px 12px;
  text-align: center;
  transition: box-shadow .05s ease-in-out,opacity .05s ease-in-out;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 100%;
}

.button-25:hover {
  box-shadow: rgba(255, 255, 255, 0.3) 0 0 2px inset, rgba(0, 0, 0, 0.4) 0 1px 2px;
  text-decoration: none;
  transition-duration: .15s, .15s;
}

.button-25:active {
  box-shadow: rgba(0, 0, 0, 0.15) 0 2px 4px inset, rgba(0, 0, 0, 0.4) 0 1px 1px;
}

.button-25:disabled {
  cursor: not-allowed;
  opacity: .6;
}

.button-25:disabled:active {
  pointer-events: none;
}

.button-25:disabled:hover {
  box-shadow: none;
}