.logo {
  clear: both;
}

.logo-faixa {
    background-image: url(../images/bg-headtop.gif);
    margin-bottom: 5px;
    text-align: right;
    color: white;
    padding-top: 12px;
    font-size: 10px;
}


.logo-texto {
    font-size: 1.2rem;
}


.logo-texto-cea {
    font-size: 1.5rem;
}

.logo-texto-ime {
    font-size: 1rem;
}
.logo-texto-usp {
    font-size: 1rem;
}

.logo-usp {
    background: url(usp-logo.png) no-repeat;
    width: 130px;
    height: 50px;
    margin: 5px;
    padding: 10px;
    float: left;
    text-indent: -9999px;
}


.logo-cea {
    background: url(cea.png) no-repeat;
    width: 130px;
    height: 50px;
    margin: 5px;
    padding: 10px;
    float: left;
    text-indent: -9999px;
}

.texto-usuario {
  margin-right: 10px;
}

.rodape {
    background-color: #f8f8f8;
    margin-top: 30px;
    padding: 40px;
}
